.main-header {
  padding: 150px 0;
  background-color: #8cc1ff;
  color: #fff;
  h3 {
    font-weight: bold;
  }
  .pointer {
    position: absolute;
    bottom: -23px;
    margin: auto;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 25px 0 25px;
    border-color: #8cc1ff transparent transparent transparent;
  }
}

.main-body {
  padding: 100px 0;
  h2 {
    padding-bottom: 20px;
  }
  .standout {
    color: #8cc1ff;
    font-weight: bold;
  }
}

.main-section {
  color: #fff;
  padding: 80px 0;
  h2 {
    padding-bottom: 30px;
  }
  .tech-stack {
    font-size: 80px;
  }
}

.main-footer {
  padding: 100px 50px;
  h2 {
    padding-bottom: 70px;
  }
  .fa {
    font-size: 30px;
    padding-right: 15px;
    padding-top: 15px;
  }
  .team-img {
    min-width: 200px;
    max-height: 200px;
  }
}
