.navbar {
  font-size: 36px;
  font-weight: 500;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 1px solid #BDB5AF;
  .logo {
    margin-right: 10px;
  }
  .navbar-brand {
    line-height: 20px;
  }

  .navbar-brand small {
    display: block;
    font-size:10px;
  }
  .button {
    float: right;
  }
}
