.tutorials-container {
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.breadcrumb {
    margin-top: 20px;
    background-color: #fff !important;
    .breadcrumb-item  a{
      text-decoration: none;
    }
  }

.tutorial-framework-col {
  h4 {
    font-size: 25px;
    font-weight: bolder;
  }
  .card-body {
    height: 175px;
    .framework-description {
      font-size: 12px;
      font-weight: 400;
    }
  }
  margin-bottom: 40px;
}

.react {
  background-color: #FFE68C;
}
.ruby-on-rails {
  background-color: #DB8A74;
}
.react-native {
  background-color: #5F99CC;
}

.title-headers {
  padding: 0 20px !important;
  padding-bottom: 20px !important;
}

.sticky-footer-newsletter {
  padding: 20px 0;
  background-color: #8cc1ff;
  margin-top: 30px;
  input {
    width: 200px;
  }
}
