.card {
  border: none !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  .card-header {
    height: 175px;
    a:link, a:visited {
      text-decoration: none;
      color: #58402C;
    }
    h4 {
      font-size: 25px;
      font-weight: bolder;
    }
  }
  .card-body {
    .framework-description {
      font-size: 12px;
      font-weight: 400;
    }
    .framework-total {
      font-weight: 600;
    }
  }
}
